body {
    background: #F9FAFB;
}

h1 {
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

.title {
    background: #122643;
    color: #F9FAFB;
    text-align: center;
    text-decoration: underline;
    padding: 8px;
}

.recipe {
    font-size: 20px;
    text-align: center;
}

ul {
    list-style: none;
}

li {
    padding: 3px;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}